body {
  background: white;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  }

p {
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  color: DarkSlateGray;
  }

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.5em;
  color: FireBrick;
  }

form {
  margin-left: 350px;
  margin-right: 350px;
  overflow: hidden;
}
input {
  float: right;
  clear: both;
}